$color: #045206;
$breakingPoint: 500px;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@300;400;500;700&display=swap');

// @font-face {
//   font-family: 'GoldmanBold';
//   src: local('GoldmanBold'),
//     url('https://fonts.gstatic.com/s/syncopate/v9/pe0sMIuPIYBCpEV5eFdCBfe5.woff')
//       format('woff');
// }

.animatedLogo {
  color: $color;
  // font-weight: 500;
  font-family: 'Orbitron';
  // font-size: 10px;
  // line-height: 14px;

  .heading {
    font-size: 20px;
    text-transform: none;
  }

  .subHeading {
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-weight: normal;
    text-transform: none;

    span {
      text-transform: none;
      font-weight: 500;
    }
  }

  @media screen and (max-width: $breakingPoint) {
    .heading {
      font-size: 20px;
    }

    .subHeading {
      font-size: 12px;
    }
  }
}
