$color: #045206;
$breakingPoint: 500px;


  @font-face {
    font-family: "GoldmanBold";
    src: local("GoldmanBold"),
     url("https://fonts.gstatic.com/s/syncopate/v9/pe0sMIuPIYBCpEV5eFdCBfe5.woff") format("woff");
    }
.animatedLogo {
  color: $color;
  font-weight: 800;
  font-family: "GoldmanBold";
  font-size: 10px;
  line-height: 12px;

  .heading {
    font-size: 25px;
  }

  .subHeading {
    font-size: 16px;
    font-family:'Segoe UI';
    font-weight: normal;
  }


  @media screen and (max-width: $breakingPoint) {
    .heading {
      font-size: 20px;
    }

    .subHeading {
      font-size: 12px
    }
  }
}