$color: #045206;
$breakingPoint: 500px;

.animatedLogo {
  color: $color;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 12px;

  .heading {
    font-size: 25px;
  }

  .subHeading {
    font-size: 16px
  }


  @media screen and (max-width: $breakingPoint) {
    .heading {
      font-size: 20px;
    }

    .subHeading {
      font-size: 12px
    }
  }
}